{% load static %}
<nav class="navbar">

    <div class="logo">
        <div class="logo-box" style="background: transparent;">
            <img src="{% static 'images/logo.PNG' %}" alt="Forest AI Logo" class="logo-img" style="width: 100%; height: 100%; object-fit: contain; border-radius: 8px;">
        </div>
        <h3>Forest AI</h3>
    </div>

    <ul class="menu">
        <li class="{% if request.path == '/dashboard/' %}active{% endif %}"><a href="/dashboard/">Dashboard</a></li>
        <li class="{% if request.path == '/disturbance-detection/' %}active{% endif %}"><a href="/disturbance-detection/">Disturbance Detection</a></li>
        <li class="{% if request.path == '/risk-prediction/' %}active{% endif %}"><a href="/risk-prediction/">Risk Prediction</a></li>
        <li class="{% if request.path == '/reforestation/' %}active{% endif %}"><a href="/reforestation/">Reforestation</a></li>
        <li class="{% if request.path == '/dashboard/reports/' %}active{% endif %}"><a href="/dashboard/reports/">Reports</a></li>
    </ul>

    <div class="nav-icons">
        <span>🔔</span>
        <span>👤</span>
    </div>

</nav>