{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>FOREST-AI Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="overlay">

    <div class="login-card">

        <div class="logo-area">
            <img src="{% static 'images/logo.png' %}" alt="">
            <h1>FOREST-AI</h1>
            <p>Forest Monitoring System</p>
        </div>

        <h2>Login to FOREST-AI</h2>

        {% if error %}
            <div style="background: #fee2e2; color: #ef4444; border: 1px solid #fca5a5; padding: 10px; border-radius: 6px; font-size: 13.5px; margin-bottom: 15px; font-weight: 500; text-align: center; font-family: sans-serif;">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Email / Username</label>
            <input type="text" name="username">

            <label>Password</label>
            <input type="password" name="password">

            <div class="forgot">
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <div class="footer-text">
            Powered by AI-driven forest conservation technology
        </div>

    </div>

</div>

</body>
</html>